@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  //-webkit-tap-highlight-color: transparent;
  //-webkit-user-select: none;
  //user-select: none;
  //-webkit-user-drag: none;
  //outline: 1px solid black;
}
::selection {
  background: transparent;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  /* cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto; */
}

.scroll::-webkit-scrollbar {
  display: none !important;
}

@media all and (display-mode: standalone) {
  /* Here goes the CSS rules that will only apply if app is running standalone */
}
